extends ../layout

block content
    h1= title

    ul.content-ul-list
        each genre in list_genres
            li
                a(href=genre.url) #{genre.name}
        else
            li There are no genres in this library