
/*
  font-family: 'Delius Swash Caps', cursive;
  font-family: 'Delius Unicase', cursive;
 */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Delius+Unicase:wght@700&family=The+Girl+Next+Door&family=Walter+Turncoat&display=swap');
/*
  font-family: 'Dekko', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

body {
  background-color: #323643;
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
}

/*****  NAV BAR ******/
.sidebarnav {
  background-color: #da5151;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  justify-content: space-between;
  font-family: 'Delius Unicase', cursive;
}

.sidebarnav > ul {
  padding: 3px 5px 0 5px;
  display: flex;
  margin: 0;
}

.sidebarnav > ul > li {
  max-width: 150px;
  border-radius: 20px;
  padding: 14px;
  align-self: center;
}

.sidebarnav > ul > li > a {
  color: beige;
}

li {
  text-decoration-line: none;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  border-radius: 20px;
  text-decoration-line: none;
  text-shadow: 3px 6px 10px black;
  color: beige;
}


/***** CONTENT *****/
h1 {
  text-align: center;
}
.content {
  align-self: center;
  padding: 50px;
  font-family: 'Dekko', cursive;
  font-size: 20px;
}
.content-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-ul > li {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  margin: 20px;
  padding: 30px;
  min-width: 250px;
  min-height: 150px;
  background-color: rgba(245, 245, 220, 0.178);
  border-radius: 3px;
}
.content-ul > li:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 5px 2px white;
  text-shadow: none;
}
.content-ul > li > a {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content-ul > a{
  color: white;
}
.content-ul > a:hover{
  text-shadow: none;
}
.content-ul > li > a:hover{
  text-shadow: none;
}

/* LIST CONTENT */
.content-ul-list {
  display: flex;
  flex-direction: column;
  color: rgb(25, 25, 71);
}
.content-ul-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(172, 186, 189);
  margin: 15px;
  padding: 10px;
  border-radius: 2px;
}
.content-ul-list > li > a  {
  color: rgb(25, 25, 71);
}
.content-ul-list > li:hover {
  box-shadow: 5px -5px 0px 0px rgb(245, 245, 220);
  text-shadow: none;
}

/***** CONTENT DETAILS *****/
.content-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.content-detail > div, div > 
.content-detail-bookInstance, 
.content-detail-book,
.content-detail-genre > dl > div
{
  border: 2px solid rgb(235, 211, 211);
  border-radius: 5px;
  padding: 15px;
  text-align: justify;
  background-image: linear-gradient(to right, rgb(235, 211, 211), rgb(172, 186, 189));
  color: rgb(53, 53, 53);
}

.content-detail-genre > dl > div {
  margin: 20px;
  border: 2px solid rgb(235, 211, 211);
  border-radius: 5px;
  padding: 15px;
  text-align: justify;
  background-image: linear-gradient(to right, rgb(235, 211, 211), rgb(172, 186, 189));
  color: rgb(53, 53, 53);
}

.content-detail > div > div {
  text-align: center;
  padding-bottom: 20px;
}

.content-detail > div > div > dt > a, div > 
.content-detail-bookInstance > p > a, 
.content-detail-book > p > a
{
  color: rgb(53, 53, 53)
}

#content-detail-book-copies {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
}
.bottom-buttons > p > a {
  background-color: white;
  color: #323643;
  padding: 10px;
  border-radius: 10px;
}